.material-icons {
	&:hover {
		color: $secondary;
		cursor: pointer;
	}
}

textarea {
	resize: none;
	border: none;
	width: 100%;
}

.text-gray-950 {
	color: #0000009a;
}

.sideBarActive {
	border-left: 4px solid #2a8356;
	padding-left: 20px !important;
	a {
		color: $secondary !important;
	}
}

.avatar {
	width: 40px;
	height: 40px;
	background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/andychen.jpeg');
	background-size: cover;
}

.e-mail {
	font-size: 14px;
	line-height: 24px;
	color: $gray-650;
}

.replyBlock {
	position: absolute;
	right: 0;
	bottom: 0;
}
